<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= name %></p>
    notification time <input type='text' value='<%= notificationTime %>'>
    <br>
    <input type='button' value='update'>
    <br>
    <a href='/auth/google'>google認証</a>
  </body>
</html>
